.container{
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    h1{
        color: var(--yellow-900);
    }
}

.containerHeader{
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 16px;

    button{
        background: transparent;
        border: 0;
    }
}

.listOrders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;

    gap: 20px;
}

.orderItem{
    display: flex;
    background-color: var(--dark-900);
    align-items: center;
    border: 0;
    font-size: 20px;
    border-radius: 8px;
    color: #ffff;
    transition: all 0.5s;

    &:hover{
        filter: brightness(1.50);
    }

    div{
        width: 6px;
        height: 60px;
        background-color: yellow;
        border-radius: 6px 0 0 6px;
        margin-right: 20px;
    }
}

.emptyItem{
    color: var(--gray-100);
    font-size: 20px;
    margin-top: 20px;
}

